.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.56%;
}
.span_10_of_12 {
  	width: 83.12%;
}

.span_9_of_12 {
  	width: 74.68%;
}

.span_8_of_12 {
  	width: 66.24%;
}

.span_7_of_12 {
  	width: 57.80%;
}

.span_6_of_12 {
  	width: 49.36%;
}

.span_5_of_12 {
  	width: 40.92%;
}

.span_4_of_12 {
  	width: 32.48%;
}

.span_3_of_12 {
  	width: 24.04%;
}

.span_2_of_12 {
  	width: 15.60%;
}

.span_1_of_12 {
  	width: 7.169%;
}



	/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.27%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }