html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  family: 'Open Sans', sans-serif; }

body {
  font-family: 'Open Sans', sans-serif; }

.header {
  display: flex;
  height: 60px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  margin-bottom: 26rem;
  align-items: flex-end; }

.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover; }
  .hero__img {
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    width: 600px; }
  .hero__sub {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    margin-bottom: 17.5rem; }
  .hero__btn {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 10rem; }
    .hero__btn:hover {
      cursor: pointer; }

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1170px; }
  .container--sm {
    width: 970px;
    margin: 0 auto; }

.primary-nav {
  display: flex;
  justify-self: flex-end; }
  .primary-nav ul {
    list-style: none;
    display: inline-flex;
    justify-self: flex-end;
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 0; }
    .primary-nav ul.black {
      color: black; }
    .primary-nav ul li {
      padding-left: 50px;
      font-size: 1.4rem;
      display: flex;
      margin: 0; }
      .primary-nav ul li:hover {
        cursor: pointer; }

.section3 {
  background-color: #f3f3f3;
  padding-top: 16rem;
  padding-bottom: 19rem; }
  .section3__head {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 8.5rem; }
    .section3__head span {
      font-weight: 600; }
  .section3__imgs {
    margin-bottom: 10rem; }
  .section3__heading {
    font-size: 2.4rem; }
  .section3__action {
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 10rem;
    justify-content: space-between;
    width: 100%; }

.section2 {
  padding-top: 15rem;
  padding-bottom: 15rem; }
  .section2__head {
    foweight: 600;
    font-size: 2.4rem;
    letter-spacing: -1px;
    padding-right: 130px; }
  .section2__text {
    font-size: 1.4rem; }

.footer {
  background-color: #f3f3f3; }
  .footer__col {
    padding-right: 7rem; }
  .footer__title {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
    font-weight: 600; }
  .footer__para {
    font-size: 1.4rem;
    color: #9e9e9e; }
  .footer__field {
    margin-top: 3rem; }
  .footer__bar {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 10rem; }
    .footer__bar__para {
      font-size: 1.4rem;
      color: #9e9e9e; }
